<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Eventures</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/reset-css.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <partial name="_LayoutHeaderPartial" />

        <main class="mt-3">
            @RenderBody()
        </main>

        <partial name="_LayoutFooterPartial" />
    </div>
</body>
</html>

@RenderSection("Scripts", required: false)